<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.orion78.keepassTotp.androidPlugin">

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.AndroidPlugin"
            android:value="fr.orion78.keepassTotp.androidPlugin.AndroidPlugin" />
    </application>

</manifest>